{% extends 'home/layout.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DEPROMEET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">Recruit</a></li>
            <!-- <li><a href="#tf-team" class="page-scroll">Team</a></li> -->
            <li><a href="#tf-services" class="page-scroll">What we do</a></li>
            <li><a href="#tf-clients" class="page-scroll">Projects</a></li>
            <li><a href="#tf-works" class="page-scroll">Activities</a></li>
            <li><a href="#tf-testimonials" class="page-scroll">Channel</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1 class="desktop">디자이너와 프로그래머가 <span class="color">만났을 때</span></h1>
                <p class="lead desktop"><em>Designer & Programmer Networking Union Circle</em></p>
                <h1 class="mobile"><br>디자이너와<br>프로그래머가<br><span class="color">만났을 때</span><br><br></h1>
                <p class="lead mobile"><em>Designer & Programmer<br>Networking Union Circle</em></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'img/02.jpg' %}" class="img-responsive" style="height:600px;">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>Recruit</h4>
                            <h2><strong>Designers & Programmers</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <h3><strong>디프만에서 디자이너와 프로그래머를 모십니다.</strong></h3><br>
                        <h4>매주 토요일 서울에서 정기 세션이 있습니다.<br><br>
                        정기 세션에는 디자인/프로그래밍을 주제로 세미나가 진행되며.<br><br>
                        스터디와 프로젝트는 자율적으로 진행됩니다.<br><br><br>
                        마감: 2016.07.17<br><br>
                        문의: deproapply@gmail.com</h4>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <em>세미나를 위해 연 2회 정도 자신의 지식을 나누어줄 수 있는 분</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <em>자기 주도적으로 일을 해나가시는 분</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <em>서울 지역에서 진행되는 모임에 참여 가능한 20대</em>
                            </li>
                        </ul>
                        <br><br><a href="#applyModal" class="btn btn-default btn-lg" data-toggle="modal"><b>지원하기</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container" style="height: 250px;">
                <!-- <div class="section-title center">
                    <h2>What <strong>we do</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Seminars</h3>
                                <p>Java, Web, Network, Photoshop, Hybrid Development 등 다양한 분야에 관한 세미나 진행중</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Studies</h3>
                                <p>Algorithm, Sketch, Adobe XD, React 등 다양한 분야에 관한 스터디 진행중</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Projects</h3>
                                <p>Hybrid, Native, Web, Game 등 다양한 분야의 프로젝트 진행중</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Networking</h3>
                                <p>다양한 분야의 디자이너와 프로그래머와의 네트워킹</p>
                                <p>Interactive, UX, Media, Visual Art & DB, Web, App, Aduino, Game</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>What <strong>we do</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Designers(Interactive, UX, Media, Visual Art) & Programmers(DB, Web, App, Aduino, Game)<br>
                서로에게 시너지 효과가 가득한 프로그래머들과 디자이너들에게 네트워킹을 형성하는 것이 설립 취지이며, 그 속에서 생산적인 모임을 지향합니다.<br>
                프로그래밍 세미나 및 디자인 세미나가 진행되고, 관련하여 프로젝트를 진행합니다. 매주 토요일에 서울 지역에서 정기 세션을 진행합니다.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-slideshare"></i>
                    <h4><strong>Seminars</strong></h4>
                    <p>Java, Web, Network, Photoshop, Hybrid Development 등 다양한 분야에 관한 세미나</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-weixin"></i>
                    <h4><strong>Studies</strong></h4>
                    <p>Algorithm, Design Pattern, iOS, HTML 등 다양한 분야에 관한 스터디</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-github"></i>
                    <h4><strong>Projects</strong></h4>
                    <p>Hybrid, Native, Web, Game 등 다양한 분야의 프로젝트</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-share-alt"></i>
                    <h4><strong>Networking</strong></h4>
                    <p>다양한 분야의 디자이너와 프로그래머와의 네트워킹</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>About <strong>Projects</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                        <i class="fa fa-cutlery"></i>
                        <h4><strong>단맛 프로젝트</strong></h4>
                        <p>단체 맛집 예약앱 '단맛'</p>
                    </div>
                    <div class="item">
                        <i class="fa fa-arrows"></i>
                        <h4><strong>영단어미러미러</strong></h4>
                        <p>영어 학습용 게임앱</p>
                    </div>
                    <div class="item">
                        <i class="fa fa-spinner"></i>
                        <h4><strong>Interactive WEB</strong></h4>
                        <p>JS를 활용한 Interactive Design Web</p>
                    </div>
                    <div class="item">
                        <i class="fa fa-bookmark"></i>
                        <h4><strong>선인장</strong></h4>
                        <p>선택장애 인간들을 위한 SNS</p>
                    </div>
                    <div class="item">
                        <i class="fa fa-book"></i>
                        <h4><strong>꽈배기</strong></h4>
                        <p>대학 학과 기반 익명 채팅앱</p>
                    </div>
                    <div class="item">
                        <i class="fa fa-history"></i>
                        <h4><strong>게임</strong></h4>
                        <p>디프만 미니 게임 개발 프로젝트</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Our <strong>activities</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>디프만의 활동입니다.</em></small>
            </div>
            <div class="space"></div>
            
            <!-- 필터 넣기 -->
            <!-- <div class="categories">
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">Web Design</a></li>
                            <li><a href="#" data-filter=".photography">Photography</a></li>
                            <li><a href="#" data-filter=".app" >Mobile App</a></li>
                            <li><a href="#" data-filter=".branding" >Branding</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div> -->

            <div id="lightbox" class="row">
                {% for activity in activities %}
                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal_{{ activity.id }}" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>{{ activity.title }}</h4>
                                    <small>{{ activity.subtitle }}</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{{ activity.image }}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal1" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>프로그래머 모집 포스터</h4>
                                    <small>디프만에서 프로그래머를 모집합니다.</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/01r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal2" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.04.23 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/02r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal3" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.05.14 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/03r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal4" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.05.21 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/04r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal5" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.05.25 이화여대 과제전</h4>
                                    <small>디프만 단체 관람</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/05r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal6" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.05.28 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/06r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal7" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.06.04 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/07r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#portfolioModal8" data-toggle="modal">
                                <div class="hover-text">
                                    <h4>2016.06.25 세션</h4>
                                    <small>디프만 세션</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'img/portfolio/08r.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Another</strong> Channel</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                            <a href="http://fb.com/depromeet" target="_blank"><i class="fa fa-facebook"></i></a>
                                <h5>Facebook</h5>
                                <!-- <p><strong>Dean Martin</strong>, CEO Acme Inc.</p> -->

                            </div>

                            <!-- <div class="item">
                                <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                                <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>

                            <div class="item">
                                <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                                <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2><strong>contact us</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small><em>아래 양식에 맞춰 문의사항 보내주세요.</em></small>            
                    </div>

                    <form method="POST" action="/send_mail" name="sentMessage" id="contactForm" novalidate >{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" required data-validation-required-message="Please enter your name.">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" name="message" required data-validation-required-message="Please enter a message."></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>Copyright &copy; Depromeet 2016</p>
            </div>
            <!-- <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="http://fb.com/depromeet"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div> -->
        </div>
    </nav>

    <!-- Portfolio Modals -->
    {% for activity in activities %}
    <div class="portfolio-modal modal fade" id="portfolioModal_{{ activity.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ activity.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ activity.image }}" class="img-responsive img-centered" alt=""><br>
                            <p>{{ activity.text|linebreaksbr }}</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong style="color:#FCAC45;">{{ activity.published_date }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 6월 25일 디프만 세션></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/08.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                                200-300 : 개발자 스터디 - 스트레티지 패턴, 다이나믹 프로그래밍<br>
                                300-330 : 전해성님 세미나 - '읽기 쉬운 코드 작성하기'<br>
                                330-600 : 1학기 활동 정리 & 프로젝트별 회의<br>
                                600- : 뒷풀이<br><br>
                                무더웠던 오늘은 연세대에서 세션을 가졌습니다!
                                전해성님께서는 읽기 쉬운 코드를 작성하는 법에 대하여 유익한 세미나를 진행해주셨습니다.
                                오늘은 한 학기간 디프만의 활동을 회장님께서 직접 정리해주시는 시간도 가졌습니다! 프로젝트별 회의도 있었는데요, 선인장 / 았 / 게임 세팀 모두 열정적으로 의견을 나누는 모습이 인상적이었습니다.
                                감사합니다.
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.06.25</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 6월 4일 디프만 세션></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/07.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                                1시-3시 : 알고리즘 스터디<br>
                                3시-3시반 : UI & UX 에관한 세미나 _박세진<br>
                                3시반-6시 : 자유로운 트랙활동<br>
                                6시- : 뒷풀이<br><br>
                                오늘은 동대에서 세션을 가졌습니다.
                                UI와 UX에 대한 유익한 세미나에 이어 삼삼오오 모여 보드게임과 프로젝트 회의 등을 진행하였습니다.
                                친목을 다지고 프로젝트 진행상황을 공유할 수 있었던 즐거운 오늘의 모임이였습니다!
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.06.04</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 5월 28일 디프만 세션></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/06.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                                1:00 ~ 3:00 알고리즘 스터디<br>
                                3:00 ~ 4:00 정기 세미나<br>
                                - '모션 그래픽 소개 및 애니메이션의 12가지 법칙' 김호영<br>
                                - '데이터 기반의 의사결정' 권윤환<br>
                                4:00 ~ 4:30 신입 디자이너 자기 소개<br>
                                4:30 ~ 7:00 프로젝트 회의 / 보드 게임<br>
                                7:00 ~ 뒷풀이<br><br>
                                28일 정기세션은 숙명여대에서 열렸습니다.
                                애니메이션과 데이터 등 두가지 주제로 세미나가 진행되었으며 신입 디자이너분들의 자기 소개가 있었습니다.
                                어제는 특별히 신입 회원분들과 친해지기 위해 보드 게임도 마련해보았는데요, 세미나도 유익하고 보드게임,뒷풀이까지 재밌었다는 피드백이 있었습니다!! :-)
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.05.28</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 5월 25일 이화여대 과제전></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/05.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                                5월 25일 이화여대 과제전에 다녀왔습니다.<br>
                                디프만 구성원 중 이화여대 과제전에 작품을 전시한 친구가 있었는데요.<br>
                                전시된 작품들을 보니 그간 얼마나 고생했는지 눈에 보이네요.<br>
                                정말 고생하셨습니다:-)
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.05.25</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 4월 23일 디프만 세션></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/02.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>토요일엔 숙명여대에서 정기세션을 가졌습니다.
                            오전에는 알고리즘 스터디가 진행되었고 맛있는 점심식사후에 현재 진행중인 Mission Priceless 프로젝트에 대한 발표와 회의가 이루어졌습니다.
                            또한, 이번 세션에서는 신촌러들을 중심으로 새로운 앱 프로젝트가 론칭되었는데요.
                            신촌을 중심으로, 동아리나 학교 등을 위한, 단체손님 가기 좋은 술집이나 밥집을 정리한 앱이 바로 그것입니다.
                            간단한 설명을 덧붙히자면, 앱 내에 식당의 전화번호는 물론, 위치, 좌석수, 영업시간,메뉴,가격등의 정보를 공유하여 신촌러들의 단체예약을 용이하게하는 앱입니다.
                            동아리의 엘리트들이 함께모여 벌인 프로젝트인 만큼 기대해봐도 좋을것같습니다!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.04.23</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">            
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>프로그래머 모집 포스터</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/01.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>디프만에서 프로그래머를 모집합니다.</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.04.10</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">            
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><2016년 5월 14일 디프만 세션></h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/03.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                                1:00 ~ 3:00 알고리즘 스터디<br>
                                3:00 ~ 4:00 자기소개 시간<br>
                                4:00 ~ 4:30 총무 특별 세미나 - 유전자 복제<br>
                                4:30 ~ 6:00 프로젝트 진행 및 개별 작업<br>
                                7:00 ~ 뒷풀이<br><br>
                                14일 정기세션은 동국대에서 열렸습니다.
                                생명 과학 분야에 능통하신 총무님의 특별 교양 세미나가 있었습니다.
                                모두들 집중하는 모습을 보여주고 계시네요!
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.05.14</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">            
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>2016년 5월 21일 디프만 세션</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/portfolio/04.jpg' %}" class="img-responsive img-centered" alt=""><br>
                            <p>
                            1:00 ~ 3:00 알고리즘 스터디 - Stack을 활용한 Histogram 문제풀이<br>
                            3:00 ~ 4:00 신입 디자이너 자기소개 시간<br>
                            4:00 ~ 4:30 정기 세미나 - 'Grid system이란' 이담윤<br>
                            4:30 ~ 6:00 신규 프로젝트 선정 및 개별 작업<br>
                            6:00 ~ 뒷풀이<br><br>
                            21일 정기세션은 숙명여대에서 열렸습니다.
                            신입 디자이너 분들의 알찬 자기소개와 함께 그리드 시스템에 관한 세미나가 진행되었습니다.
                            또한 신입 프로그래머와 신입 디자이너를 중심으로 미니 게임, 채팅 관련 어플, 선인장 등 새로운 프로젝트가 런칭되었습니다.
                            </p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong><a href="http://www.depromeet.com/">2016.05.21</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="portfolio-modal modal fade" id="applyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:50px;">
                
                <h3 style="text-align: left;">디프만 2016년 하반기 멤버 모집<br><br><br></h3>

                <p style="text-align: left;">
                    디자이너가 프로그래머를 만났을 때, 디프만에서 2016년 하반기 멤버를 모집합니다.
                    디프만은 ‘20대 디자이너-프로그래머 네트워크’로서 디자이너와 프로그래머간의 시너지를 만들어 낼 수 있는 생산적인 모임을 지향합니다.
                    2016년 하반기에는 디프만의 설립 취지를 인정받아 은행권 청년 창업 재단 ‘D.CAMP’ 와 ‘연세 대학교 창업 지원단’으로부터 후원을 받고 있습니다.
                <br><br><br>

                < 활동 내용 ><br><br>

                1. 매주 토요일 서울에서 정기 세션이 있습니다 (D.CAMP 혹은 서울 소재 대학교)<br><br>

                2. 정기 세션에는 디자인 / 프로그래밍을 주제로 세미나가 진행되며 스터디와 프로젝트는 자율적으로 진행됩니다.<br><br>

                3. 이 외 멤버들의 자율적인 활동 및 스타트업과 관련한 비즈니스 네트워킹을 권장합니다.<br><br><br>


                < 공통 지원 자격 ><br><br>

                1. 세미나를 위해 연 2회 정도 자신의 지식을 나누어줄 수 있는 분<br><br>

                2. 자기 주도적으로 일을 해나가시는 분<br><br>

                * 2인 이상으로 구성된  팀 단위로 지원 시 우대<br><br><br>


                < 디자이너 지원 자격 ><br><br>

                1. UI / UX 디자인에 관심과 열정을 가지신 분<br><br>

                2. 디자인 경험 있으신 분<br><br>

                3. 서울 지역에서 진행되는 모임에 참여 가능한 20대<br><br><br>


                < 프로그래머 지원 자격 ><br><br>

                1. 프로그래밍에 관심과 열정을 가지신 분<br><br>

                2. 개발 프로젝트 경험이 있으신 분<br><br>

                3. 서울 지역에서 진행되는 모임에 참여 가능한 20대<br><br><br>


                < 지원 방법 ><br><br>
                1. www.depromeet.com에서 지원서를 다운받아<br>
                2. 2016년 7월 17일까지 deproapply@gmail.com 으로 지원합니다.<br>
                3. 자신의 포트폴리오나 프로젝트 결과물을 함께 보내주시면 좋습니다.<br>
                4. 면접 : 2016년 7월 20일 (수) 오후 2시~6시 <br>
                - 면접이 불가능한 경우엔 메일로 문의<br>
                5. 정기 세션 일정 : 2016년 7월 23일 (토)<br><br>
                문의 : deproapply@gmail.com<br><br>

                </p>

                <div class="row">
                    <!-- <div class="col-lg-10 col-lg-offset-1 text-center">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="{% static 'files/디프만_프로그래머_본인이름.docx' %}" class="btn btn-lg btn-success">
                                <i class="fa fa-code"></i> 프로그래머 지원하기
                            </a><br>
                        </div>
                    </div> -->
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="{% static 'files/디프만_디자이너_본인이름.docx' %}" class="btn btn-lg btn-success"
                                style="width:210px; margin:5px">
                                <i class="fa fa-pencil"></i> 디자이너 지원하기
                            </a>
                            <a href="{% static 'files/디프만_프로그래머_본인이름.docx' %}" class="btn btn-lg btn-success"
                                style="width:210px; margin:5px">
                                <i class="fa fa-pencil"></i> 프로그래머 지원하기
                            </a>
                        </div>
                    </div>
                </div>

                <p style="text-align: left;"><br><br>Q&A<br><br>

                
                Q : 디프만은 어떤 동아리인가요?<br>
                A : 서로에게 시너지 효과가 가득한 프로그래머들과 디자이너들에게 네트워킹을 형성하는 것이 설립 취지이며, 그 속에서 생산적인 모임을 지향합니다. 프로그래밍 세미나 및 디자인 세미나가 진행되고, 관련하여 프로젝트를 진행합니다. 매주 토요일에 서울 지역에서 정기 세션을 진행합니다.<br><br>

                Q : 세미나는 어떻게 진행되나요?<br>
                A : 세미나는 동아리 내부에서 상호적으로 진행됩니다. 세미나 주제는 개발과 디자인에 관한 자유 주제입니다. 예를 들어, 자바에 관한 세미나가 진행된다면 그 부분에 능한 회원이 해당 주제에 대한 세미나를 진행합니다. 수요 조사 및 선발 과정에서 동아리 회원 분들의 성향과 수요를 파악 한 이후 진행되고 있습니다.<br>
                 또한 별도의 스터디와 프로젝트를 기획하여 동아리 구성원 간에 지식 나눔도 이루어 집니다. 이러한 과정을 통해 동아리 구성원들은 네트워크 형성은 물론, 관련 분야에 대한 폭 넓은 경험을 할 수 있습니다.<br><br>
                </p>

                <br><br><center><button type="button" class="btn btn-lg btn-outline" data-dismiss="modal" style="color:black"><i class="fa fa-times"></i> Close</button></center>                        
            </div>
        </div>
    </div>


    <!-- 모달 크기 세팅 -->
    <style>
    @media (min-width: 768px){
        .modal-dialog{
            width:70%;
        }
    }
    </style>


{% endblock content %}
